@charset "utf-8";

/* 상세조건 패널 */
.recruit_search .search_wrap {border:1px solid #ebebeb;border-top:0 none;background:#f9f9f9}
.search_wrap.warp_cover {border-bottom:0}
.search_wrap.warp_cover .base_area {display:none}
.search_wrap.warp_cover .salary {margin-bottom:17px}
.search_wrap .option_box {position:relative;padding:0 15px}
.search_wrap .option_box:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box .option_title {float:left;width:86px;color:#444;font-size:13px;font-weight:bold;letter-spacing:-1px;line-height:32px}
.option_box .option_list {float:left;position:relative;width:1142px;font-size:0}
.option_box .option_list ul {position:relative}
.option_box .option_list ul:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box .option_list .list_opt {position:absolute}
.option_box .option_list input[type=text] {padding:0 10px;width:285px;height:32px;border:1px solid #dbdbdb;box-sizing:border-box;font-size:13px;letter-spacing:-1px;line-height:30px}
.option_box .option_list input[type=text]::-ms-clear {display:none}
.option_box .option_list select {float:left;margin-left:10px;padding:3px 3px 3px 5px;width:152px;height:27px;border:1px solid #dfdfdf;box-sizing:border-box;font-size:13px;line-height:25px}
.option_box .option_list select:first-child {margin-left:0}
.option_box .option_list .sri_select {float:left}
.option_box .option_list .sri_select .list_opt {z-index:160}
.option_box.edu_level .option_list select,
.option_box.salary .option_list select {width:209px}
.option_box .option_list .between {float:left;margin:6px 7px 0 8px;color:#444;font-size:14px}
.option_box .option_list label {color:#444;font-size:12px;cursor:pointer}
.option_box .option_list label.selected {color:#6b80f1}
.option_box .option_list .set_include {margin-left:10px;color:#888;font-size:12px;line-height:25px}
.option_box .option_list .set_include input {margin:-1px 5px 0 0;vertical-align:middle}
.option_box .option_list .btn_delete {margin-left:6px;padding:2px 11px 5px 11px;height:32px;border:1px solid #dfdfdf;box-sizing:border-box;color:#888;font-size:13px;vertical-align:top;background:#fff}
.option_box .option_list .btn_add {margin-left:6px;padding:2px 11px 5px 20px;height:32px;border:1px solid #5e75ee;box-sizing:border-box;color:#fff;font-size:13px;vertical-align:top;background:#6b80f1 url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 10px -89px}
.option_box .option_list .btn_welfare {padding:2px 11px 5px 11px;height:32px;border:1px solid #5e75ee;box-sizing:border-box;color:#fff;font-size:13px;background:#6b80f1}
.option_box .set_open {position:absolute;top:5px;right:20px}
.option_box .set_open .btn_set {color:#999;font-size:11px;letter-spacing:-1px}
.option_box .set_open .btn_set:after {display:inline-block;margin-left:5px;padding-left:7px;height:10px;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat -20px -76px;content:""}
.option_box .set_open .btn_reset {margin:0 10px 0 0;padding:0;color:#999;font-size:11px;text-decoration:underline}
.select_result {margin:4px 0 0 -4px;letter-spacing:-1px}
.select_result>span {display:inline-block;position:relative;margin:4px 0 0 4px;padding:1px 15px 4px 7px;height:20px;border:1px solid #9fadfa;box-sizing:border-box;color:#6b80f1;font-size:11px;background:#fff}
.select_result span button {overflow:hidden;position:absolute;top:0;right:0;width:12px;height:18px;text-indent:100%;white-space:nowrap;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 1px -134px}
.select_result .btn_reset {margin:0 0 0 10px;padding:7px 0 0 0;color:#999;font-size:11px;text-decoration:underline}

.core_area .job_type {display:none;padding-top:17px}
.core_area .job_type:after {display:table;clear:both;content:"";table-layout:fixed}
.core_area .job_field {display:none;padding-top:17px}
.core_area .job_field:after {display:table;clear:both;content:"";table-layout:fixed}
.core_area .job_area {display:none;padding-top:17px}
.core_area .job_area:after {display:table;clear:both;content:"";table-layout:fixed}
.core_area .job_overseas {display:none;padding-top:17px}
.core_area .job_overseas:after {display:table;clear:both;content:"";table-layout:fixed}
.core_area .job_type .option_title,
.core_area .job_field .option_title,
.core_area .job_area .option_title,
.core_area .job_overseas .option_title {line-height:32px}
.core_area .option_list>ul {margin-top:4px}
.core_area .option_list>ul:first-child {margin-top:0}
.core_area .option_list>ul>li {float:left;min-height:32px}
.core_area .option_list>ul>li>.btn_option {display:block;position:absolute;top:0;padding:5px 0;border:1px solid #dfdfdf;box-sizing:border-box;color:#444;font-size:13px;letter-spacing:-1px;text-align:center;background:#fff}
.core_area .job_type .option_list>ul>li>.btn_option {width:120px}
.core_area .job_field .option_list>ul>li>.btn_option {width:90px}
.core_area .job_area .option_list>ul>li>.btn_option {width:73px}
.core_area .job_overseas .option_list>ul>li>.btn_option {width:73px}
.core_area .job_overseas .option_list>ul>li>.btn_option.job_overseas11 {width:72px}
.core_area .option_list>ul>li:first-child .btn_option {margin-left:0}
.core_area .option_list>ul>li.dep3checked>.btn_option,
.core_area .option_list>ul>li>.btn_option:hover {border:1px solid #9fadfa;color:#6b80f1}
.core_area .option_list>ul>li>.btn_option.selected {border:1px solid #6275de;color:#fff;background:#6b80f1}
.core_area .option_list .btn_more {position:absolute;top:12px;right:0;color:#999;font-size:11px;letter-spacing:-1px}
.core_area .option_list .btn_more:after {display:inline-block;margin-left:5px;padding-left:7px;height:10px;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 0 -76px;content:""}
.core_area .option_list .btn_more.open:after {background-position:-20px -76px}
.core_area .option_list .job_type01 {left:0}
.core_area .option_list .job_type02 {left:124px}
.core_area .option_list .job_type03 {left:248px}
.core_area .option_list .job_type04 {left:372px}
.core_area .option_list .job_type05 {left:496px}
.core_area .option_list .job_type06 {left:620px}
.core_area .option_list .job_type07 {left:744px}
.core_area .option_list .job_type08 {left:868px}
.core_area .option_list .job_type09 {left:992px}
.core_area .option_list .job_type10 {left:0}
.core_area .option_list .job_type11 {left:124px}
.core_area .option_list .job_type12 {left:248px}
.core_area .option_list .job_type13 {left:372px}
.core_area .option_list .job_type14 {left:496px}
.core_area .option_list .job_type15 {left:620px}
.core_area .option_list .job_type16 {left:744px}
.core_area .option_list .job_type17 {left:868px}
.core_area .option_list .job_type18 {left:992px}
.core_area .option_list .job_type19 {left:0}
.core_area .option_list .job_type20 {left:124px}
.core_area .option_list .job_type21 {left:248px}
.core_area .job_type .row_all_check {padding:9px 0 0 16px;height:33px;border-bottom:1px solid #e8e8e8;box-sizing:border-box}

.core_area .option_list .job_category01 {left:0}
.core_area .option_list .job_category02 {left:94px}
.core_area .option_list .job_category03 {left:188px}
.core_area .option_list .job_category04 {left:282px}
.core_area .option_list .job_category05 {left:376px}
.core_area .option_list .job_category06 {left:470px}
.core_area .option_list .job_category07 {left:564px}
.core_area .option_list .job_category08 {left:658px}
.core_area .option_list .job_category09 {left:752px}
.core_area .option_list .job_category10 {left:0}
.core_area .option_list .job_area01 {left:0}
.core_area .option_list .job_area02 {left:77px}
.core_area .option_list .job_area03 {left:154px}
.core_area .option_list .job_area04 {left:231px}
.core_area .option_list .job_area05 {left:308px}
.core_area .option_list .job_area06 {left:385px}
.core_area .option_list .job_area07 {left:462px}
.core_area .option_list .job_area08 {left:539px}
.core_area .option_list .job_area09 {left:616px}
.core_area .option_list .job_area10 {left:693px}
.core_area .option_list .job_area11 {left:0}
.core_area .option_list .job_area12 {left:77px}
.core_area .option_list .job_area13 {left:154px}
.core_area .option_list .job_area14 {left:231px}
.core_area .option_list .job_area15 {left:308px}
.core_area .option_list .job_area16 {left:385px}
.core_area .option_list .job_area17 {left:462px}
.core_area .option_list .job_area18 {left:539px}
.core_area .option_list .job_overseas01 {left:0}
.core_area .option_list .job_overseas02 {left:77px}
.core_area .option_list .job_overseas03 {left:154px}
.core_area .option_list .job_overseas04 {left:231px}
.core_area .option_list .job_overseas05 {left:308px}
.core_area .option_list .job_overseas06 {left:385px}
.core_area .option_list .job_overseas07 {left:462px}
.core_area .option_list .job_overseas08 {left:539px}
.core_area .option_list .job_overseas09 {left:616px}
.core_area .option_list .job_overseas10 {left:693px}
.core_area .option_list .job_overseas11 {left:770px}

.base_area .job_type {padding-top:17px}
.base_area .job_type:after {display:table;clear:both;content:"";table-layout:fixed}
.base_area .job_field {display:none;padding-top:17px}
.base_area .job_field:after {display:table;clear:both;content:"";table-layout:fixed}
.base_area .job_area {padding-top:17px}
.base_area .job_area:after {display:table;clear:both;content:"";table-layout:fixed}
.base_area .job_overseas {display:none;padding-top:17px}
.base_area .job_overseas:after {display:table;clear:both;content:"";table-layout:fixed}
.base_area .job_type .option_title,
.base_area .job_field .option_title,
.base_area .job_area .option_title,
.base_area .job_overseas .option_title {line-height:32px}
.base_area .option_list>ul {margin-top:4px}
.base_area .option_list>ul:first-child {margin-top:0}
.base_area .option_list>ul>li {float:left;min-height:32px}
.base_area .option_list>ul>li>.btn_option {display:block;position:absolute;top:0;padding:5px 0 9px 0;border:1px solid #dfdfdf;box-sizing:border-box;color:#444;font-size:13px;letter-spacing:-1px;text-align:center;background:#fff}
.base_area .job_type .option_list>ul>li>.btn_option,
.base_area .job_field .option_list>ul>li>.btn_option {width:90px}
.base_area .job_area .option_list>ul>li>.btn_option {width:73px}
.base_area .job_overseas .option_list>ul>li>.btn_option {width:73px}
.base_area .job_overseas .option_list>ul>li>.btn_option.job_overseas11 {width:72px}
.base_area .option_list>ul>li:first-child .btn_option {margin-left:0}
.base_area .option_list>ul>li.dep3checked>.btn_option,
.base_area .option_list>ul>li>.btn_option:hover {border:1px solid #9fadfa;color:#6b80f1}
.base_area .option_list>ul>li>.btn_option.selected {border:1px solid #6275de;color:#fff;background:#6b80f1}
.base_area .option_list .btn_more {position:absolute;top:12px;right:0;color:#999;font-size:11px;letter-spacing:-1px}
.base_area .option_list .btn_more:after {display:inline-block;margin-left:5px;padding-left:7px;height:10px;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 0 -76px;content:""}
.base_area .option_list .btn_more.open:after {background-position:-20px -76px}
.base_area .option_list .job_type01 {left:0}
.base_area .option_list .job_type02 {left:94px}
.base_area .option_list .job_type03 {left:188px}
.base_area .option_list .job_type04 {left:282px}
.base_area .option_list .job_type05 {left:376px}
.base_area .option_list .job_type06 {left:470px}
.base_area .option_list .job_type07 {left:564px}
.base_area .option_list .job_type08 {left:658px}
.base_area .option_list .job_type09 {left:752px}
.base_area .option_list .job_type10 {left:0}
.base_area .option_list .job_type11 {left:94px}
.base_area .option_list .job_type12 {left:188px}
.base_area .option_list .job_type13 {left:282px}
.base_area .option_list .job_category01 {left:0}
.base_area .option_list .job_category02 {left:94px}
.base_area .option_list .job_category03 {left:188px}
.base_area .option_list .job_category04 {left:282px}
.base_area .option_list .job_category05 {left:376px}
.base_area .option_list .job_category06 {left:470px}
.base_area .option_list .job_category07 {left:564px}
.base_area .option_list .job_category08 {left:658px}
.base_area .option_list .job_category09 {left:752px}
.base_area .option_list .job_category10 {left:0}
.base_area .option_list .job_area01 {left:0}
.base_area .option_list .job_area02 {left:77px}
.base_area .option_list .job_area03 {left:154px}
.base_area .option_list .job_area04 {left:231px}
.base_area .option_list .job_area05 {left:308px}
.base_area .option_list .job_area06 {left:385px}
.base_area .option_list .job_area07 {left:462px}
.base_area .option_list .job_area08 {left:539px}
.base_area .option_list .job_area09 {left:616px}
.base_area .option_list .job_area10 {left:693px}
.base_area .option_list .job_area11 {left:0}
.base_area .option_list .job_area12 {left:77px}
.base_area .option_list .job_area13 {left:154px}
.base_area .option_list .job_area14 {left:231px}
.base_area .option_list .job_area15 {left:308px}
.base_area .option_list .job_area16 {left:385px}
.base_area .option_list .job_area17 {left:462px}
.base_area .option_list .job_area18 {left:539px}
.base_area .option_list .job_overseas01 {left:0}
.base_area .option_list .job_overseas02 {left:77px}
.base_area .option_list .job_overseas03 {left:154px}
.base_area .option_list .job_overseas04 {left:231px}
.base_area .option_list .job_overseas05 {left:308px}
.base_area .option_list .job_overseas06 {left:385px}
.base_area .option_list .job_overseas07 {left:462px}
.base_area .option_list .job_overseas08 {left:539px}
.base_area .option_list .job_overseas09 {left:616px}
.base_area .option_list .job_overseas10 {left:693px}
.base_area .option_list .job_overseas11 {left:770px}


.search_wrap .sub_depth_box,
.search_wrap .sub_depth_box2 {display:none;overflow:hidden;position:relative;z-index:1;margin-top:30px;width:1112px;height:198px;border:1px solid #6275de;box-sizing:border-box;background:#fff}
.search_wrap .sub_depth_box:after,
.search_wrap .sub_depth_box2:after {display:table;clear:both;content:"";table-layout:fixed}
.search_wrap .sub_depth_box .sub_depth2 {overflow-y:scroll;float:left;width:180px;height:165px}
.search_wrap .sub_depth_box .sub_depth2 ul {margin:5px 0}
.search_wrap .sub_depth_box .sub_depth2 li {padding:0 12px 0 22px;color:#555;font-size:12px;line-height:22px;white-space:nowrap;background:#fff;cursor:pointer}
.search_wrap .sub_depth_box .sub_depth2 li.selected {color:#6b80f1;font-weight:bold;background:#f3f5ff}
.search_wrap .sub_depth_box .sub_depth2 li.select_area {color:#6b80f1;font-weight:bold;background:#f3f5ff url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 8px -112px}
.search_wrap .sub_depth_box .sub_depth3 {overflow-y:auto;float:left;width:calc(100% - 180px);height:165px}
.search_wrap .sub_depth_box .sub_depth3 ul {margin:12px 11px 5px}
.search_wrap .sub_depth_box .sub_depth3 ul:after {display:table;clear:both;content:"";table-layout:fixed}
.search_wrap .sub_depth_box .sub_depth3 ul li {float:left;margin-top:9px;width:25%}
.search_wrap .sub_depth_box .sub_depth3 label {letter-spacing:-1px;line-height:22px;white-space:nowrap}
.search_wrap .sub_depth_box .sub_depth3 label input {margin:-1px 5px 0 0;vertical-align:middle}

.search_wrap .sub_depth_box2 .sub_depth2 {overflow-y:auto;width:100%;height:165px}
.search_wrap .sub_depth_box2 .sub_depth2 ul {margin:14px 22px 5px}
.search_wrap .sub_depth_box2 .sub_depth2 ul:after {display:table;clear:both;content:"";table-layout:fixed}
.search_wrap .sub_depth_box2 .sub_depth2 ul li {float:left;margin-top:9px;width:155px}
.search_wrap .sub_depth_box2 .sub_depth2 label {letter-spacing:-1px;line-height:22px;white-space:nowrap}
.search_wrap .sub_depth_box2 .sub_depth2 label input {margin:-1px 5px 0 0;vertical-align:middle}

.search_wrap .sub_depth_box .reset_wrap,
.search_wrap .sub_depth_box2 .reset_wrap {margin:3px 13px 12px 0;text-align:right}
.search_wrap .sub_depth_box .reset_wrap .btn_reset,
.search_wrap .sub_depth_box2 .reset_wrap .btn_reset {margin:5px 0 0 0;padding:0;color:#999;font-size:11px;text-decoration:underline;vertical-align:top}
.search_wrap .sub_depth_box .reset_wrap .btn_close,
.search_wrap .sub_depth_box2 .reset_wrap .btn_close {overflow:hidden;margin-left:6px;width:37px;height:20px;text-indent:100%;white-space:nowrap;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/btn_close.png) no-repeat 0 0}
.search_wrap .sub_depth_box .txt_point,
.search_wrap .sub_depth_box2 .txt_point {font-weight:bold}

.option_box.route_map {padding-top:17px}
.option_box.route_map .inpTypo {background:#fff url(//www.saraminimage.co.kr/ui/recruit_detail_search/txt_input_route_map.png) no-repeat 10px 9px}
.option_box.route_map .inpTypo.focused {background-image:none}
.route_map_wrap {display:inline-block;position:relative;width:285px}
.route_map_wrap .btn_input_delete {display:none;overflow:hidden;position:absolute;top:8px;right:8px;width:16px;height:16px;text-indent:100%;white-space:nowrap;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 0 -180px}
.route_map_wrap .route_map_result {display:none;position:absolute;top:31px;left:0;z-index:140;width:285px;border:1px solid #b7b7b7;box-sizing:border-box;background:#fff}
.route_map_wrap .route_map_result ul {overflow-y:auto;padding:15px 0;max-height:200px}
.route_map_wrap .route_map_result label {line-height:22px}
.route_map_wrap .route_map_result label input {vertical-align:middle}
.route_map_wrap .route_map_result .btn_wrap {padding:10px 0;text-align:center;background:#f7f7f7}
.route_map_wrap .route_map_result .btn_wrap .btn_register {padding:3px 15px 5px 15px;color:#fff;font-size:12px;font-weight:bold;background:#6b80f1}
.route_map_wrap .route_map_result .btn_wrap .btn_cancel {margin-left:6px;padding:3px 15px 5px 15px;color:#fff;font-size:12px;font-weight:bold;background:#aeaeae}
.route_map_wrap .route_map_result .inpChk {width:100%;height:27px}
.route_map_wrap .route_map_result .inpChk.small>input[type="checkbox"] + .lbl {padding:0 20px 0 40px;height:26px;line-height:26px;background-position:16px -93px}
.route_map_wrap .route_map_result .inpChk.small>input[type="checkbox"]:checked + .lbl {color:#6b80f1;background-position:16px -143px}
.route_map_wrap .route_map_result .inpChk:hover {background-color:#f3f5ff}
.route_map_wrap .route_map_result .inpChk .lbl em {color:#6b80f1}
.route_map_wrap .auto_search_none {display:none;position:absolute;top:31px;left:0;z-index:140;width:285px;border:1px solid #888;box-sizing:border-box;background:#fff}
.route_map_wrap .auto_search_none p {overflow-y:auto;margin:0;padding-top:50px;min-height:123px;box-sizing:border-box;color:#444;font-size:12px;letter-spacing:-1px;text-align:center}
.route_map_wrap .auto_search_none .btn_wrap {padding:10px 0;border-top:1px solid #eaeaea;box-sizing:border-box;text-align:center;background:#f7f7f7}
.route_map_wrap .auto_search_none .btn_wrap .btn_close {padding:2px 15px 6px 15px;height:24px;border:1px solid #ababab;box-sizing:border-box;color:#444;font-size:12px;vertical-align:top;background-color:#fff}

.option_box.career {margin-top:15px;padding-top:15px;border-top:1px solid #ebebeb}
.option_box.career:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.edu_level {margin-top:8px}
.option_box.edu_level:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.salary {margin-top:8px}
.option_box.salary:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.age_gender {margin-top:8px}
.option_box.age_gender:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box .age {float:left;width:553px}
.option_box .age .option_list,
.option_box .gender .option_list {width:auto}
.option_box .gender {float:left}
.option_box .gender .option_title {width:100px}
.option_box .gender .btn_reset {margin:0 10px 0 3px;color:#999;font-size:11px;font-weight:normal;line-height:32px;text-decoration:underline}
.option_box .gender label {display:inline-block;position:relative;font-size:13px;letter-spacing:-1px;line-height:25px}
.option_box .gender .gender_man {margin-right:20px;padding-left:38px;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search//search_sprite.png) no-repeat 21px -18px}
.option_box .gender .gender_man.selected {background-position:21px -43px}
.option_box .gender .gender_women {margin-right:10px;padding-left:38px;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat -38px -18px}
.option_box .gender .gender_women.selected {background-position:-38px -43px}
.option_box .gender input {vertical-align:middle}
.option_box .gender input[type=radio] {position:absolute;left:0;margin-top:7px;vertical-align:top}
.option_box .gender .inpRdo.small ,
.option_box .gender .inpChk.small {margin:9px 0 0 12px}
.option_box .gender .lbl {color:#888}

/* select size */
.career .sri_select,
.career .sri_select .selected {width:162px}
.edu_level .sri_select,
.salary .sri_select,
.age_gender .sri_select,
.edu_level .sri_select .selected,
.salary .sri_select .selected,
.age_gender .sri_select .selected {width:221px}
.option_box .option_list .license_wrap input[type=text] {width:465px}
.major .sri_select,
.job_position .sri_select {width:230px}
.major .sri_select.select_space {margin-left:6px}

.option_box.license {margin-top:17px;padding-top:17px;border-top:1px solid #ebebeb}
.option_box.license:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.license .inpTypo {background:#fff url(//www.saraminimage.co.kr/ui/recruit_detail_search/txt_input_license.png) no-repeat 10px 9px}
.option_box.license .inpTypo.focused {background-image:none}
.option_box.license .select_result {margin-bottom:10px}
.license_wrap {display:inline-block;position:relative;width:465px}
.license_wrap .btn_input_delete {display:none;overflow:hidden;position:absolute;top:8px;right:8px;width:16px;height:16px;text-indent:100%;white-space:nowrap;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 0 -180px}
.license_wrap .license_result {display:none;overflow-y:auto;position:absolute;top:31px;left:0;z-index:130;min-width:465px;height:230px;border:1px solid #b7b7b7;box-sizing:border-box;background:#fff;_min-width:463px}
.license_wrap .license_result ul {padding:5px 0}
.license_wrap .license_result li {padding:0 10px;box-sizing:border-box;line-height:22px;cursor:pointer}
.license_wrap .license_result li:after {display:table;clear:both;content:"";table-layout:fixed}
.license_wrap .license_result li.selected {background:#f3f5ff}
.license_wrap .license_result strong {display:inline-block;width:276px;color:#666;font-size:12px;vertical-align:middle}
.license_wrap .license_result li.selected strong {color:#6b80f1}
.license_wrap .license_result span {display:inline-block;width:150px;color:#888;font-size:11px;vertical-align:middle}
.license_wrap .auto_result_none {display:none;position:absolute;top:31px;left:0;z-index:130;width:465px;border:1px solid #888;box-sizing:border-box;background:#fff}
.license_wrap .auto_result_none p {overflow-y:auto;margin:0;padding-top:50px;min-height:123px;box-sizing:border-box;color:#444;font-size:12px;letter-spacing:-1px;text-align:center}
.license_wrap .auto_result_none .btn_wrap {padding:10px 0;border-top:1px solid #eaeaea;box-sizing:border-box;text-align:center;background:#f7f7f7}
.license_wrap .auto_result_none .btn_wrap .btn_close {padding:2px 15px 6px 15px;height:24px;border:1px solid #ababab;box-sizing:border-box;color:#444;font-size:12px;vertical-align:top;background-color:#fff}

.option_box.major {margin-top:8px}
.option_box.major:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.job_position {margin-top:8px}
.option_box.job_position:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.special_condition {margin-top:13px}
.option_box.special_condition:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.special_condition .option_title,
.option_box.company_form .option_title,
.option_box.job_form .option_title,
.option_box.job_day .option_title {line-height:22px}

.option_box.company_form {margin-top:15px;padding-top:15px;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb}
.option_box.company_form:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.company_form .option_list {padding-bottom:17px}
.option_box.job_form {padding-top:15px;border-bottom:1px solid #ebebeb}
.option_box.job_form:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.company_form.article_fold+.option_box.job_form {margin-top:15px;padding-top:15px;border-top:1px solid #ebebeb}
.option_box.company_form.article_fold+.option_box.job_form .option_title {padding-top:15px}
.option_box.company_form.article_fold+.option_box.job_form.article_fold {margin-top:8px;padding-top:0;border-top:none}
.option_box.company_form.article_fold+.option_box.job_form.article_fold .option_title {padding-top:0}
.option_box.company_form.article_fold+.option_box.job_form.article_fold .option_list {padding:0;border:0 none}
.option_box.company_form.article_fold+.option_box.job_form.article_fold .option_list .set_open {top:5px}

.option_box.job_form .option_list {padding-bottom:17px}
.option_box.job_day {padding-top:17px}
.option_box.job_day:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.job_form.article_fold+.option_box.job_day.article_fold {margin-top:8px}
.option_box.job_form.article_fold+.option_box.job_day.article_fold .option_title {padding-top:0}
.option_box.job_form.article_fold+.option_box.job_day.article_fold .option_list {padding:0;border:0 none}
.option_box.job_form.article_fold+.option_box.job_day.article_fold .option_list .set_open {top:5px}
.option_box.job_form.article_fold+.option_box.job_day {margin-top:15px;padding-top:0}
.option_box.job_form.article_fold+.option_box.job_day .option_title {padding-top:15px}
.option_box.job_form.article_fold+.option_box.job_day .option_list {padding:15px 0}
.option_box.job_form.article_fold+.option_box.job_day .option_list .set_open {top:21px}
.option_box.job_form.article_fold+.option_box.job_day {border-top:1px solid #ebebeb}
.option_box.job_form.article_fold+.option_box.job_day.article_fold {border:none}
.option_box.welfare {margin-top:17px;padding-top:17px;border-top:1px solid #ebebeb}
.option_box.welfare:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.welfare .select_result {margin-bottom:7px}
.option_box.search_word {margin-top:8px;padding-bottom:17px}
.option_box.search_word:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box.search_word label {display:block;margin:8px 11px 0 0;font-size:13px;letter-spacing:-1px;line-height:32px}
.option_box.search_word label:first-child {margin:0}
.option_box.search_word input[type=text] {width:689px}
.option_box.search_word .inpTypo {background:#fff url(//www.saraminimage.co.kr/ui/recruit_detail_search/txt_input_search.png) no-repeat 10px 9px}
.option_box.search_word .inpTypo.focused {background-image:none}
.search_word_wrap {position:relative;width:690px}
.search_word_wrap.select_space {margin-top:8px}
.search_word_wrap .input_title {color:#444;font-size:13px;letter-spacing:-1px;line-height:32px;vertical-align:middle}
.search_word_wrap input[type=text] {vertical-align:middle}
.search_word_wrap .btn_input_delete {display:block;overflow:hidden;position:absolute;top:8px;right:8px;width:16px;height:16px;text-indent:100%;white-space:nowrap;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 0 -180px}

.option_box.job_form .sub_box,
.option_box.job_day .sub_box {width:auto}
.option_box.job_form .sub_box li,
.option_box.job_day .sub_box li {float:left;width:150px}


.option_box.article_fold .option_list {overflow:hidden;padding:0;height:22px;border-bottom:0 none}
.option_box.article_fold .option_list .sub_box h4 {display:none}

.option_box.article_fold .option_list .set_open {top:5px}
.option_box.article_fold .option_list .set_open .btn_set:after {background-position:0 -76px}
.option_box.article_fold .option_list .set_open .btn_reset {display:none}

.option_box .sub_box {float:left;width:150px}
.option_box .sub_box:after {display:table;clear:both;content:"";table-layout:fixed}
.option_box .sub_box h4 {margin-bottom:3px;color:#444;font-size:12px;font-weight:bold;letter-spacing:-1px;line-height:25px}
.option_box .sub_box li {float:none;padding-top:4px;height:18px}
.option_box .sub_box .inpChk {display:inline-block;letter-spacing:-1px;line-height:22px;padding-right:7px;vertical-align:middle}
.option_box .sub_box input {margin:-1px 5px 0 0;vertical-align:middle}

.option_box .add_box {margin-top:6px;height:27px}
.option_box .add_box:first-child {margin-top:0}

.company_form_guide.toolTipWrap {vertical-align:middle;*display:inline;*zoom:1}
.company_form_guide button {width:14px;height:14px;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/ico_view_help.png) no-repeat 0 0}
.company_form_guide .toolTip {bottom:22px;left:-24px;min-width:100px;box-sizing:border-box;_width:100px}
.company_form_guide .toolTip p {margin:0;letter-spacing:-1px;white-space:nowrap}

.search_set_result {position:relative;z-index:150;margin-top:10px;width:960px;height:92px;letter-spacing:-1px;background:#fff}
.search_set_result:after {display:table;clear:both;content:"";table-layout:fixed}
.search_set_result .result_wrap {overflow:hidden;position:absolute;bottom:0;left:0;margin-right:104px;padding-left:104px;height:92px;border:1px solid #888;box-sizing:border-box;background:#fff}
.search_set_result .result_wrap.spread {height:auto}
.search_set_result .total_num {position:absolute;top:50%;left:0;margin:-22px 0 0 0;width:100px;text-align:center}
.search_set_result .total_num p {margin:0;color:#444;font-size:13px;font-weight:bold}
.search_set_result .total_num strong {display:block;margin-top:7px;color:#6b80f1;font-size:17px;font-weight:bold;line-height:20px}
.search_set_result .total_num strong span {display:inline-block;margin-left:3px;color:#444;font-size:13px;vertical-align:top}
.search_set_result .total_result {position:relative;margin:7px 0;width:750px;min-height:76px;border-left:1px solid #eee}
.search_set_result .result_guide {padding:18px 0 0 18px;color:#888;font-size:12px}
.search_set_result .result_guide li {margin-top:5px}
.search_set_result .result_guide li:first-child {margin-top:0}
.search_set_result .result_guide .point {color:#555;font-size:12px}
.search_set_result .result_guide .point:before {display:inline-block;padding-right:4px;content:"※"}
.search_set_result .result_guide .point span {color:#6b80f1}
.search_set_result .select_result {display:none;overflow:hidden;margin:0 0 0 -4px;padding:0 18px;height:50px}
.search_set_result .result_wrap.spread .select_result {padding-bottom:15px;height:100%}
.search_set_result .init_wrap {position:absolute;right:10px;bottom:2px;height:15px;text-align:right}
.search_set_result .init_select {color:#999;font-size:11px;text-decoration:underline}
.search_set_result .btn_more {margin-left:8px;color:#999;font-size:11px;letter-spacing:-1px}
.search_set_result .btn_more:after {display:inline-block;margin-left:5px;padding-left:7px;height:10px;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat -20px -76px;content:""}
.search_set_result .btn_more.open:after {background-position:0 -76px}
.search_set_result .result_btn {overflow:hidden;position:absolute;right:0;bottom:0;width:104px;height:92px;text-align:center;background:#888}
.search_set_result .result_btn button {padding-bottom:4px;width:104px;height:92px;color:#fff;font-size:17px;font-weight:bold}

.recruit_search .wrap_spread {margin-top:-1px;text-align:center}
.recruit_search .wrap_spread .btn_spread {padding:3px 0 6px;width:156px;border:1px solid #ebebeb;border-top:0 none;box-sizing:border-box;color:#3c3c3c;font-size:12px;font-weight:bold;letter-spacing:-1px;vertical-align:top;background:#f9f9f9}
.recruit_search .wrap_spread .btn_spread:after {display:inline-block;margin:0 0 1px 8px;width:9px;height:5px;background:url(//www.saraminimage.co.kr/ui/recruit_detail_search/search_sprite.png) no-repeat 0 -200px;content:""}
.recruit_search .wrap_spread .btn_spread.open:after {background-position:-20px -200px}

.search_list_filter {margin:20px 0 9px 0;line-height:22px;vertical-align:middle}
.search_list_filter:after {display:table;clear:both;content:"";table-layout:fixed}
.search_list_filter .list_count {float:left;font-size:12px}
.search_list_filter .list_count strong {font-weight:normal}
.search_list_filter .list_count .total_count {color:#666;font-weight:bold}
.search_list_filter .list_count .today_count {color:#666;font-size:13px}

.search_list_filter .list_sort {float:right;letter-spacing:-1px}
.search_list_filter .list_sort label {margin-right:5px;line-height:22px}
.search_list_filter .list_sort label input {vertical-align:middle}
.search_list_filter .list_sort select {height:22px;line-height:20px}

.chk_list .chk_item {margin-top:5px}
.chk_list .chk_item:after {display:table;clear:both;content:"";table-layout:fixed}
.chk_list .chk_item .sri_check {width:100%}
.sri_check.small.selected .txt_check {color:#6d82f3}

/*.option_box.career .sri_check {float:left;margin:8px 0 0 0}
.option_box .sri_check.check_space {float:left;margin:8px 0 0 20px}*/
.option_box .inpChk.check_nocareer  {margin:8px 0 0 14px}
.option_box .inpChk.check_nocareer .lbl {color:#888}

.career .sri_select,
.career .sri_select .selected {width:162px}
.edu_level .sri_select,
.salary .sri_select,
.age_gender .sri_select,
.edu_level .sri_select .selected,
.salary .sri_select .selected,
.age_gender .sri_select .selected {width:221px}
.option_box .option_list .license_wrap input[type=text] {width:465px}
.major .sri_select,
.job_position .sri_select {width:230px}
.major .sri_select.select_space {margin-left:6px}
.recruit_search.search_main .route_map {margin-top:17px;border-top:1px solid #ebebeb}
.age_gender+.route_map, .salary+.route_map,
.route_map+.job_type {margin-top:17px;border-top:1px solid #ebebeb}
.company_form.article_fold,
.job_form.article_fold {border-bottom:none}
.job_overseas.open_space,
.job_field.open_space,
.job_area.open_space,
.job_type.open_space {padding-bottom:17px;border-bottom:1px solid #ebebeb}
.option_box.job_field+.option_box.career {margin-top:17px;border-top:1px solid #ebebeb}
.option_box.job_overseas+.option_box.career {margin-top:17px;border-top:1px solid #ebebeb}

/* 레이어 관련 */
.layer_manage_wrap.lpop_welfare_select {width:833px}
.layer_manage_wrap .btn_register {padding:2px 11px 5px;height:32px;border:1px solid #5e75ee;box-sizing:border-box;color:#fff;font-size:13px;vertical-align:top;background:#6b80f1}

/* layer_pop */
.layer_pop_manage {z-index:310;padding:35px 30px 30px;border:1px solid #444;box-sizing:border-box;background-color:#fff;box-shadow:0 1px 1px 1px rgba(0,0,0,0.12)}
.layer_pop_manage legend,
.layer_pop_manage caption {visibility:hidden;overflow:hidden;margin-left:-1px;width:1px;height:1px}
.layer_pop_manage.layer_attach {display:none;top:35px;margin:0 0 0 -315px;width:630px}
.layer_pop_manage.layer_reading {display:none;top:78px;margin:0 0 0 -390px;width:780px}
.layer_pop_manage.layer_attach_reg {top:250px;margin:0 0 0 -215px;padding:0;width:630px}
.layer_pop_manage.layer_progress {top:135px;z-index:999;margin:0 0 0 -275px;padding:0;width:550px}
.layer_pop_manage.layer_attach.open,
.layer_pop_manage.layer_reading.open,
.layer_pop_manage.layer_attach_reg.open,
.layer_pop_manage.layer_progress.open {display:block}
.layer_pop_manage .layer_manage_wrap {position:relative;z-index:100;padding:25px 30px 30px}
.layer_pop_manage h4 {margin-bottom:9px;color:#444;font-size:20px;font-weight:bold;letter-spacing:-1px;text-align:left}
.layer_pop_manage h4 span {font-weight:normal}
.layer_pop_manage .txt_desc {color:#666;font-size:12px}
.layer_pop_manage .txt_desc em {color:#f00}
.layer_pop_manage .txt_desc span.essential {padding-right:5px;color:#f00;font-weight:bold}

.layer_pop_manage .bottom_btn_wrap {margin-top:10px;text-align:center}
.layer_pop_manage .bottom_btn_wrap button,
.layer_pop_manage .bottom_btn_wrap a {margin-left:1px}
.layer_pop_manage .bottom_btn_wrap button:first-child,
.layer_pop_manage .bottom_btn_wrap a:first-child {margin-left:0}
.layer_pop_manage .btn_close {position:absolute;top:14px;right:14px;width:17px;height:17px;border:0 none;background:url(//www.saraminimage.co.kr/ui/layout/person_mypage_2017/btn_layer_close.png) no-repeat 50% 50%}
.layer_pop_manage .btn_close span {overflow:hidden;font-size:0;line-height:0;text-indent:-100%;white-space:nowrap;*text-indent:0}
.layer_pop_manage .layer_btn_area {position:relative}
.layer_pop_manage .layer_btn_area button {margin:0;border:0;cursor:pointer}
.layer_pop_manage .layer_btn_area .btn_reset {position:absolute;right:0;bottom:18px;padding-left:17px;color:#666;font-size:13px;letter-spacing:-1px;line-height:17px;text-decoration:underline;background:url(//www.saraminimage.co.kr/ui/layout/mypage_2016/icon_reset.png) 0 50% no-repeat}
.layer_pop_manage .table_scroll {overflow-x:hidden;overflow-y:auto;max-height:355px;border-top:1px solid #444;border-bottom:1px solid #eaeaea;box-sizing:border-box}
.layer_pop_manage .table_scroll .manage_list_table {border-top:none}
.layer_pop_manage .table_scroll .manage_list_table tr:first-child td {border-top:none}
.layer_pop_manage .table_scroll .manage_list_table tbody td {border-top:1px solid #eaeaea;border-bottom:none}

.default_table {width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed}
.default_table.welfare_select_table th {height:43px;border:solid #eaeaea;border-width:1px 0 1px 1px;box-sizing:border-box;color:#666;font-size:13px;font-weight:normal;letter-spacing:-1px;text-align:center;background:#f8f8f8;_height:50px}
.default_table.welfare_select_table td {padding:9px 15px 9px;border-top:1px solid #eaeaea;border-left:1px solid #eaeaea;box-sizing:border-box;color:#444;font-size:13px;text-align:left;vertical-align:top;word-break:break-all;_padding:4px 10px}
.default_table.welfare_select_table td input {padding:0 5px;height:13px;border:1px solid #dbdbdb;box-sizing:border-box;font-size:13px;line-height:13px;vertical-align:middle}
.default_table.welfare_select_table td.tbl_send {overflow:hidden}
.default_table.welfare_select_table .txt_phone {float:left;margin-right:10px;padding-top:6px;color:#444;font-size:13px}
.default_table.welfare_select_table .btn_change {float:left}
.default_table.welfare_select_table tr:first-child th {border-top:none}
.default_table.welfare_select_table tr th:first-child,
.default_table.welfare_select_table tr td:first-child {border-left:none}

.wrap_recruit_search .btn_area {text-align:center}
.wrap_recruit_search .layer_btn_area {position:relative}
.wrap_recruit_search .layer_btn_area button {margin:0;border:0;cursor:pointer}
.wrap_recruit_search.wrap_recruit_search .layer_btn_area .btn_reset {position:absolute;right:0;bottom:18px;padding-left:17px;color:#666;font-size:13px;letter-spacing:-1px;line-height:17px;text-decoration:underline;background:url(//www.saraminimage.co.kr/ui/layout/mypage_2016/icon_reset.png) 0 50% no-repeat}

.default_table.detail_select_table th {height:43px;border:1px solid #eaeaea;border-width:1px 0 1px 1px;box-sizing:border-box;color:#666;font-size:13px;font-weight:normal;letter-spacing:-1px;text-align:center;background:#f8f8f8;_height:50px}
.default_table.detail_select_table td {padding:9px 15px 9px;border-top:1px solid #eaeaea;border-left:1px solid #eaeaea;box-sizing:border-box;color:#444;font-family:"Malgun Gothic", gulim, dotum, sans-serif;font-size:13px;text-align:left;vertical-align:top;word-break:break-all;_padding:4px 10px}
.default_table.detail_select_table td input {padding:0 5px;height:13px;border:1px solid #dbdbdb;box-sizing:border-box;font-family:"Malgun Gothic", gulim, dotum, sans-serif;font-size:13px;line-height:13px;vertical-align:middle}
.default_table.detail_select_table td.tbl_send {overflow:hidden}
.default_table.detail_select_table .txt_phone {float:left;margin-right:10px;padding-top:6px;color:#444;font-size:13px}
.default_table.detail_select_table .btn_change {float:left}
.default_table.detail_select_table tr:first-child th {border-top:none}
.default_table.detail_select_table tr th:first-child,
.default_table.detail_select_table tr td:first-child {border-left:none}

.layer_pop_manage.welfare_list {display:none;overflow:hidden;position:absolute;top:110px;left:50%;z-index:170;margin-left:-526px;width:892px}
.layer_pop_manage.welfare_list .bottom_btn_wrap {margin-top:10px;text-align:center}
.layer_pop_manage.welfare_list .bottom_btn_wrap .btn_register {padding:2px 11px 5px;height:32px;border:1px solid #5e75ee;box-sizing:border-box;color:#fff;font-size:13px;vertical-align:top;background:#6b80f1}
.layer_pop_manage.welfare_list .table_scroll {overflow-x:visible;overflow-y:auto;height:393px;border-top:1px solid #444;border-bottom:1px solid #eaeaea;box-sizing:border-box}
.layer_pop_manage.welfare_list .txt {margin:13px 0;color:#666;font-size:13px;letter-spacing:-1px;line-height:17px}

/* WMG-20417 추가 */
/* 스마트 필터 */
.wrap_sfilter {position:relative;background:#f8f9fa}
.wrap_sfilter .info_sfilter {overflow:hidden;margin-right:-93px;padding:10px 93px 10px 0;width:100%;height:56px;box-sizing:border-box}
.info_sfilter:before {position:absolute;top:0;left:0;z-index:2;width:29px;height:56px;background:url(//www.saraminimage.co.kr/sri/common/spr/img_sfilter.png) no-repeat 0 0;content:""}
.info_sfilter:after {position:absolute;top:0;right:91px;z-index:2;width:20px;height:56px;background:url(//www.saraminimage.co.kr/sri/common/spr/img_sfilter.png) no-repeat 100% -70px;content:""}
.info_sfilter .swiper-container {overflow:initial;position:static;padding:0 20px 0 19px}
.info_sfilter .list_sfilter {position:relative;width:10000em;-webkit-transition:-webkit-transform 0.5s;-o-transition:transform 0.5s;transition:-webkit-transform 0.5s;transition:transform 0.5s;transition:transform 0.5s, -webkit-transform 0.5s}
.info_sfilter .list_sfilter li {float:left;position:relative;width:auto;margin-left:10px}
.info_sfilter .list_sfilter input[type="checkbox"] {position:absolute;top:0;left:0;z-index:1;margin:0;padding:0;width:100%;height:100%;cursor:pointer;opacity:0;filter:alpha(opacity=0)}
.info_sfilter .lbl_sfilter {display:block;position:relative;height:36px;padding:0 12px;box-sizing:border-box;box-shadow:0 1px 0 rgba(231,231,231,1);border-radius:20px;font-size:13px;line-height:14px;color:#888;letter-spacing:-1px;background:#fff}
.info_sfilter .lbl_sfilter .txt {display:inline-block;overflow:hidden;margin-top:10px;max-width:138px;line-height:16px;vertical-align:top;text-overflow:ellipsis;white-space:nowrap}
.info_sfilter .lbl_sfilter .count {display:inline-block;margin:11px 0 0 5px;vertical-align:top}
.info_sfilter .lbl_sfilter .btn_del {display:none;position:relative;z-index:2;width:28px;height:36px}
.info_sfilter .lbl_sfilter .btn_del:after {display:inline-block;margin-left:-5px;width:9px;height:9px;background:url(//www.saraminimage.co.kr/sri/common/spr/img_sfilter.png) no-repeat 0 -260px;content:""}
.info_sfilter .list_sfilter input[type="checkbox"]:checked + label {padding:0 0 0 12px;color:#fff;background:#649aff}
.info_sfilter .list_sfilter input[type="checkbox"]:checked + label .btn_del {display:inline-block;vertical-align:top}
.info_sfilter .list_sfilter li .lst {margin-left:0;padding:0 0 0 4px;font-weight:bold;color:#666;box-shadow:none;background:none}
.info_sfilter .list_sfilter li .lst .txt {text-decoration:underline}
.info_sfilter .info_btn {position:absolute;top:0;right:0;z-index:1;padding-right:29px;height:56px;background:#f8f9fa}
.info_sfilter .info_btn button {float:left;position:relative;top:0;bottom:0;left:0;right:0;margin:0 0 0 1px;width:30px;height:100%;background:none;opacity:1}
.info_sfilter .info_btn button:after {display:inline-block;margin-top:4px;width:11px;height:19px;background:url(//www.saraminimage.co.kr/sri/common/spr/img_sfilter.png) no-repeat 0 0;content:""}
.info_sfilter .info_btn .btn_prev:after {background-position:0 -200px}
.info_sfilter .info_btn .btn_prev[disabled]:after {background-position:0 -140px}
.info_sfilter .info_btn .btn_next:after {background-position:100% -230px}
.info_sfilter .info_btn .btn_next[disabled]:after {background-position:100% -170px}

.info_sfilter .filter_load {margin-top:8px;width:869px;font-size:14px;text-align:center;color:#888;letter-spacing:-1px}
.recruit_list_renew .info_sfilter .filter_load {width:960px}

.wrap_sfilter .toolTip {bottom:100px;left:99px;letter-spacing:-1px}
.wrap_sfilter .layer_pop_manage {position:fixed;top:50%;margin:-120px 0 0 -174px;padding:35px 40px 30px;letter-spacing:-1px}
.recruit_list_renew .wrap_sfilter .toolTip {bottom:135px}
/* //WMG-20417 추가 */

/* WMG-22249 추가 */
/* 메일 구독 레이어 */
.subscribe_tooltip:before,
.subscribe_tooltip .btn_tooltip:after,
.subscribe_tooltip .btn_subscribe:after {overflow:hidden;background:url(//www.saraminimage.co.kr/sri/common/ico/ico_subscribe.png) no-repeat 0 0}
#wrap_search_panel .subscribe_tooltip {right:34px;bottom:-44px}
.subscribe_tooltip {display:none;position:absolute;right:11px;bottom:-52px;padding:13px 0 16px 76px;width:226px;height:63px;font-size:12px;border:1px solid #b4c8ff;border-radius:32px;box-sizing:border-box;box-shadow: 6px 6px 15px 0 rgba(119, 142, 197, 0.1);background:#fff}
.subscribe_tooltip:before {position:absolute;left:28px;top:15px;width:38px;height:25px;background-position:0 0;content:""}
.subscribe_tooltip .tit_tooltip {display:block;font-weight:normal;color:#7d7d7d}
.subscribe_tooltip .btn_subscribe {display:block;margin-top:1px;font-weight:bold;color:#666;letter-spacing:-1px}
.subscribe_tooltip .btn_subscribe:after {display:inline-block;margin:4px 0 0 5px;width:6px;height:11px;background-position:-40px -10px;vertical-align:top;content:""}
.subscribe_tooltip .btn_tooltip {overflow:hidden;position:absolute;right:-14px;bottom:-2px;z-index:1;width:17px;height:17px}
.subscribe_tooltip .btn_tooltip:after {display:inline-block;width:9px;height:9px;background-position:-40px 0;content:""}
/* //WMG-22249 추가 */

/* WMG-22073 */
.recruit_list_renew .wrap_sfilter .toolTip.all {left:51px}
.recruit_list_renew .wrap_sfilter .toolTip.default {left:365px}
.recruit_list_renew .wrap_sfilter .toolTip.dispatch {left:673px}
.recruit_list_renew .wrap_sfilter .toolTip.headhunting {left:986px}
.recruit_list_renew .area_title + #async_sfilter .toolTip {bottom:95px;left:10px}
